<nb-card>
    <nb-card-header>Change Password</nb-card-header>
    <nb-card-body>
        <form #newForm="ngForm" (ngSubmit)="newForm.valid && userSubmit(newForm.value);newForm.resetForm();" class="form-horizontal">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">

                    <div class="form-group">
                        <label for="oldPassword">Old Password</label>
                        <nb-form-field>
                            <input type="password" name="oldPassword" [(ngModel)]="userData.oldPassword"
                                #oldPassword="ngModel" nbInput fullWidth placeholder="Password" required>
                            <div
                                *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched) || newForm.submitted">
                                <span class="error" *ngIf="oldPassword.hasError('required')">Old Password is
                                    required</span>
                               
                            </div>
                        </nb-form-field>
                    </div>

                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <nb-form-field>
                            <input type="password" name="newPassword" [(ngModel)]="userData.newPassword"
                                #newPassword="ngModel" nbInput fullWidth placeholder="Password" required
                                pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$">
                            <div
                                *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched) || newForm.submitted">
                                <span class="error" *ngIf="newPassword.hasError('required')">Password is required</span>
                                <span class="error" *ngIf="newPassword.hasError('pattern')">Password Should have 1
                                    Number 1 Capital 1 Small letter and min 6 length </span>
                            </div>
                        </nb-form-field>
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <nb-form-field>
                            <input type="password" name="confirmPassword" [(ngModel)]="userData.confirmPassword"
                                (ngModelChange)="check($event)" #confirmPassword="ngModel" nbInput fullWidth
                                placeholder="Password" required validateEqual="password">
                            <div
                                *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched) || newForm.submitted">
                                <span class="error" *ngIf="confirmPassword.hasError('required')">Confirm password is
                                    required</span>
                            </div>
                            <span class="error" *ngIf="donotMatch">Password and
                                Confirm password do not match </span>
                        </nb-form-field>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 offset-lg-4">
                    <button type="submit" [disabled]="!newForm.valid || donotMatch" nbButton status="success">Save
                    </button>
                    <button type="button" style="margin-left: 10px;" nbButton status="warning" (click)="goBack()">Go
                        Back </button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>