<nb-card>
    <nb-card-header>Add Guide</nb-card-header>
    <nb-card-body>
        <form #newForm="ngForm" (ngSubmit)="newForm.valid && userSubmit(newForm.value)" class="form-horizontal">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">

                    <div class="form-group">
                        <label for="title_english">Title (English)</label>
                        <input type="text" name="title_english" [(ngModel)]="userData.title_english"
                            #title_english="ngModel" nbInput fullWidth placeholder="Title (English)" required
                            minlength="3" maxlength="50" pattern="^[a-zA-Z_ ]+$">
                        <div
                            *ngIf="title_english.invalid && (title_english.dirty || title_english.touched) || newForm.submitted">
                            <span class="error" *ngIf="title_english.hasError('required')">Title (English) is
                                required</span>
                            <span class="error" *ngIf="title_english.hasError('pattern')">Invalid Title (English)</span>
                            <span class="error" *ngIf="title_english.hasError('minlength')">Atleast 3 Char</span>
                            <span class="error" *ngIf="title_english.hasError('maxlength')">Max 50 Char</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name">Title (Aramaic)</label>
                        <input type="text" name="title_aramaic" [(ngModel)]="userData.title_aramaic"
                            #title_aramaic="ngModel" nbInput fullWidth placeholder="Title (Aramaic)" required
                            minlength="3" maxlength="50" >
                        <div
                            *ngIf="title_aramaic.invalid && (title_aramaic.dirty || title_aramaic.touched) || newForm.submitted">
                            <span class="error" *ngIf="title_aramaic.hasError('required')">Title (Aramaic) is
                                required</span>
                            <span class="error" *ngIf="title_aramaic.hasError('pattern')">Invalid Title (Aramaic)</span>
                            <span class="error" *ngIf="title_aramaic.hasError('minlength')">Atleast 3 Char</span>
                            <span class="error" *ngIf="title_aramaic.hasError('maxlength')">Max 50 Char</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name">Description (English)</label>
                        <textarea cols="30" rows="4" class="form-control" name="description_english"
                            [(ngModel)]="userData.description_english" #description_english="ngModel" nbInput fullWidth
                            placeholder="Description (English)" required minlength="3" maxlength="1000"
                            pattern="^[a-zA-Z_ ]+$"></textarea>
                        <div
                            *ngIf="description_english.invalid && (description_english.dirty || description_english.touched) || newForm.submitted">
                            <span class="error" *ngIf="description_english.hasError('required')">Description (English)
                                is
                                required</span>
                            <span class="error" *ngIf="description_english.hasError('pattern')">Invalid Description
                                (English)</span>
                            <span class="error" *ngIf="description_english.hasError('minlength')">Atleast 3 Char</span>
                            <span class="error" *ngIf="description_english.hasError('maxlength')">Max 1000 Char</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name">Description (Aramaic)</label>
                        <textarea cols="30" rows="4" class="form-control" name="description_aramaic"
                            [(ngModel)]="userData.description_aramaic" #description_aramaic="ngModel" nbInput fullWidth
                            placeholder="Description (English)" required minlength="3" maxlength="1000"
                            ></textarea>
                        <div
                            *ngIf="description_aramaic.invalid && (description_aramaic.dirty || description_aramaic.touched) || newForm.submitted">
                            <span class="error" *ngIf="description_aramaic.hasError('required')">Description (Aramaic) is
                                required</span>
                            <span class="error" *ngIf="description_aramaic.hasError('pattern')">Invalid Description
                                (Aramaic)</span>
                            <span class="error" *ngIf="description_aramaic.hasError('minlength')">Atleast 3 Char</span>
                            <span class="error" *ngIf="description_aramaic.hasError('maxlength')">Max 1000 Char</span>
                        </div>
                    </div>


                    <div class="form-group" *ngIf="userData.image">
                        <label for="image">Image</label>
                        <input type="file" name="image" [(ngModel)]="image1" #image="ngModel" nbInput fullWidth
                            placeholder="Name" accept="image/x-png,image/jpeg,image/jpg" (change)="uploadFile($event)">
                        <div *ngIf="image.invalid && (image.dirty || image.touched) || newForm.submitted">
                            <span class="error" *ngIf="image.hasError('required')">Image is required</span>
                        </div>
                    </div>


                    <div>
                        <img *ngIf="userData.image" src="{{imageUrl + imageName}}" alt="User profile picture"
                            class="img-thumbnail" style="width: 110px;">
                    </div>

                    <div class="form-group" *ngIf="!userData.image">
                        <label for="image">Image</label>
                        <input type="file" name="image" [(ngModel)]="image1" #image="ngModel" nbInput fullWidth
                            placeholder="Name" required accept="image/x-png,image/jpeg,image/jpg"
                            (change)="uploadFile($event)">
                        <div *ngIf="image.invalid && (image.dirty || image.touched) || newForm.submitted">
                            <span class="error" *ngIf="image.hasError('required')">Image is required</span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 offset-lg-4">
                    <button type="submit" [disabled]="!newForm.valid || canNotEdit" nbButton status="success">Save </button>
                    <button type="button" style="margin-left: 10px;" nbButton status="warning" (click)="goBack()">Go
                        Back </button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>