<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-lg-6">
                <h5>Promo Code Table <nb-icon icon="person-outline"></nb-icon>
                </h5>
            </div>
            <div class="col-lg-6">
                <button class="float-right" size="small" [routerLink]="['/promocode/add']" nbButton status="info">Add
                    <nb-icon icon="plus-circle-outline"></nb-icon>
                </button>
            </div>
        </div>
        <!-- style="margin-top: 8px;" -->
        <div class="row mt-3">
            <div class="col-lg-5">
                <nb-form-field>
                    <!-- <form  #newUserForm="ngForm" (ngSubmit)="!newUserForm.invalid && searchEvent(searchItem.item)"> -->
                    <input [(ngModel)]="searchItem.item" (keyup)="searchEvent(searchItem.item)" required
                        #search_item="ngModel" name="search_item" type="text" nbInput placeholder="Type to Search in Question">

                    <!-- </form>  -->
                </nb-form-field>
            </div>
            <div class="col-lg-5">

            </div>

            <div class="col-lg-1">
                <!-- <button type="button" nbButton (click)="reset()">
                    Reset
                </button> -->
            </div>
        </div>


    </nb-card-header>
    <nb-card-body>
        <div class="box-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="success">
                        <th>S.No</th>
                        <th>Name</th>
                        <th>Coupon Code</th>
                        <th>Discount</th>
                        <th>Limit Per User</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let users of data.data | paginate: { itemsPerPage: 8, currentPage:data.pageNo,totalItems:data.totalCount };let i = index">
                        <td>
                            {{data.size *(data.pageNo-1)+i+1}}
                        </td>

                        <td> {{users.name}} </td>
                        <td> {{users.couponCode}} </td>
                        <td> {{users.discount}} </td>
                        <td> {{users.limitPerUser}} </td>
                        <td> {{users.startDate | date: 'dd/MM/yyyy' }} </td>
                        <td> {{users.endDate | date: 'dd/MM/yyyy'}} </td>
                        
                        <td>
                            <button size="tiny" *ngIf="users.status==0" (click)="ActiveUser(users._id,i)" type="button"
                                nbButton status="danger">Inactive </button>
                            <button size="tiny" *ngIf="users.status==1" (click)="InactiveUser(users._id,i)"
                                type="button" nbButton status="success">Active </button>
                        </td>
                        <td>

                            <button size="tiny" [routerLink]="['/promocode/view',users._id]" nbButton status="warning">Edit
                            </button>

                            <button size="tiny" nbButton status="danger" (click)="deleteUser(users._id,i)">Delete
                            </button>

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

    </nb-card-body>
</nb-card>