<nb-layout>
    <nb-layout-column>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <nb-card style="margin-top: 12%;">
                    <nb-card-header>
                        <h2 class="text-center">Reset Password</h2>
                    </nb-card-header>
                    <nb-card-body>
                        <form aria-labelledby="title" #newForm="ngForm"
                            (ngSubmit)="newForm.valid && submit(newForm.value)">

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" [(ngModel)]="userData.password"
                                    #password="ngModel" nbInput fullWidth placeholder="Password" required
                                    pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$">
                                <div
                                    *ngIf="password.invalid && (password.dirty || password.touched) || newForm.submitted">
                                    <span class="error" *ngIf="password.hasError('required')">Password is
                                        required</span>
                                    <span class="error" *ngIf="password.hasError('pattern')">Password Should have 1
                                        Number 1 Capital 1 Small letter and min 6 length </span>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="confirm_password">Confirm Password</label>
                                <input type="password" name="confirm_password" (ngModelChange)="check($event)"
                                    [(ngModel)]="userData.confirm_password" #confirm_password="ngModel" nbInput
                                    fullWidth placeholder="Password" required
                                    >
                                <div
                                    *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched) || newForm.submitted">
                                    <span class="error" *ngIf="confirm_password.hasError('required')">Confirm Password is
                                        required</span>

                                </div>
                                <span class="error" *ngIf="donotMatch">Password and
                                    Confirm password do not match </span>
                            </div>

                            <button type="submit" nbButton fullWidth status="primary" size="large">
                                Submit
                            </button>
                        </form>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>