<nb-layout>
  <nb-layout-column>
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <nb-card style="margin-top: 12%;">
          <nb-card-header>
            <h2 class="text-center">Login</h2>
          </nb-card-header>
          <nb-card-body>

           <div class="text-center">
            <img src="/assets/logo.png" style="width: 30%;" alt="">
           </div>

            <form aria-labelledby="title" #newForm="ngForm" (ngSubmit)="newForm.valid && submit(newForm.value)">

              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" name="email" [(ngModel)]="userData.email" #email="ngModel" nbInput fullWidth
                  placeholder="Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                  (keydown.space)="$event.preventDefault();" required>
                <div *ngIf="email.invalid && (email.dirty || email.touched) || newForm.submitted">
                  <span class="caption status-danger" *ngIf="email.hasError('required')">Email is required</span>
                  <span class="caption status-danger" *ngIf="email.hasError('pattern')">Enter a valid email</span>
                </div>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" [(ngModel)]="userData.password" #password="ngModel" nbInput
                  fullWidth placeholder="Password" required>
                <div *ngIf="password.invalid && (password.dirty || password.touched) || newForm.submitted">
                  <span class="caption status-danger" *ngIf="password.hasError('required')">Password is required</span>
                </div>
              </div>

              <button type="submit" nbButton fullWidth status="primary" size="large">
                Log In
              </button>
            </form>

           <div style="margin: 17px;">
            <a style="text-decoration: none;" [routerLink]="['/forget-password']">I forgot my password</a>
           </div>

          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>