<nb-card>
    <nb-card-header>
        <div class="row">
            <div class="col-lg-6">
                <h5>Sub Category Table <nb-icon icon="checkmark-circle-outline"></nb-icon>
                </h5>
            </div>
            <div class="col-lg-6">

           

                <button class="float-right" size="small" [routerLink]="['/subcategory/add']" nbButton status="info">Add
                    <nb-icon icon="plus-circle-outline"></nb-icon>
                </button>

                <button class="float-right" style="margin-right: 10px;" size="small" (click)="goBack()" nbButton status="warning">Go Back
                  
                </button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-6">
                <nb-form-field>
                
                    <input [(ngModel)]="searchItem.item" (keyup)="searchEvent(searchItem.item)" required
                        #search_item="ngModel" name="search_item" type="text" nbInput placeholder="Type to search">
                  
                 
                </nb-form-field>
            </div>
            <div class="col-lg-6">
                <button style="float: right;" type="button" nbButton status="success" (click)="export()">
                    Export
                </button>
            </div>


        </div>


    </nb-card-header>

   
    <nb-card-body>
        <div class="box-body">

            <div class="" style="display: inline-flex;">
                <button type="button" [disabled]="checkedArray.length<1" nbButton status="success"
                    (click)="statusChange(1)"> Active </button>
                <button type="button" [disabled]="checkedArray.length<1" nbButton status="warning"
                    (click)="statusChange(0)"> Deactive </button>
                <button type="button" [disabled]="checkedArray.length<1" nbButton status="danger"
                    (click)="multiDelete()"> Delete </button>
            </div>


            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="success">
                        <th>Select All <input type="checkbox" name="checkAll" [(ngModel)]="checkAll"
                            (ngModelChange)="checkAllChange()"></th>
                        <th>S.No</th>
                        <th>Name (English)</th>
                        <th>Name (Aramaic)</th>
                        <th>Category Name</th>
                        <th>Image</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let users of data.data | paginate: { itemsPerPage: 8, currentPage:data.pageNo,totalItems:data.totalCount };let i = index">
                        <td>
                            <input type="checkbox" name="check" [(ngModel)]="users.isChecked"
                                (ngModelChange)="checkChange()">
                        </td>
                        <td>
                            {{data.size *(data.pageNo-1)+i+1}}
                        </td>
                        <td>{{users.name_english }}</td>
                        <td>{{users.name_aramaic }}</td>
                        <td>{{users.category[0].name_english }}</td>
                        <td>
                            <img *ngIf="users.image" 
                            src="{{data.imageUrl + users.image}}" 
                            alt="User profile picture" class="img-thumbnail" style="width: 90px;"
                        >
                       
                        </td>
                       
                        <td>
                            <button size="tiny" *ngIf="users.status==0" (click)="ActiveUser(users._id,i)" type="button"
                                nbButton status="danger">Inactive </button>
                            <button size="tiny" *ngIf="users.status==1" (click)="InactiveUser(users._id,i)"
                                type="button" nbButton status="success">Active </button>
                        </td>
                        <td>

                            <button size="tiny" [routerLink]="['/subcategory/view',users._id]" nbButton status="warning">Edit
                            </button>

                            <button size="tiny" nbButton status="danger" (click)="deleteUser(users._id,i)">Delete
                            </button>

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

    </nb-card-body>
</nb-card>